# Leistungsnachweis Sex Ratio   


Gruppe: Larissa Trüb, Kaj Suter, Harini Murugadas

Fragen:

- Wie verändert sich das Geschlechterverhältnis (Sex ratio) global mit zunehmendem alter?

- Welche demographische Faktoren erklären den starken Rückgang der Sex Ratio in höheren Altersgruppen?

- Wie hat sie die Sex Ratio bei den neugeborenenverändert?

- Vergleich einzelner Ländern und zuweisen von Ereignissen die zu Veränderungen führen?



Quellen

- https://ourworldindata.org/gender-ratio#the-sex-ratio-through-the-lifespan

## 1.Beschaffen und laden der Daten

In [5]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\ksute\miniconda3\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\ksute\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [6]:
import pandas as pd
from matplotlib import pyplot as plt

In [13]:
df = pd.read_csv('sex-ratio-by-age.csv')
df

,Entity,Code,Year,Sex ratio - Sex: all - Age: 100+ - Variant: estimates,Sex ratio - Sex: all - Age: 15 - Variant: estimates,Sex ratio - Sex: all - Age: 20 - Variant: estimates,Sex ratio - Sex: all - Age: 30 - Variant: estimates,Sex ratio - Sex: all - Age: 40 - Variant: estimates,Sex ratio - Sex: all - Age: 50 - Variant: estimates,Sex ratio - Sex: all - Age: 60 - Variant: estimates,Sex ratio - Sex: all - Age: 70 - Variant: estimates,Sex ratio - Sex: all - Age: 80 - Variant: estimates,Sex ratio - Sex: all - Age: 90 - Variant: estimates,Sex ratio - Sex: all - Age: 0 - Variant: estimates,Sex ratio - Sex: all - Age: 5 - Variant: estimates
0,Afghanistan,AFG,1968,0.000000,102.662500,97.910730,109.851990,117.310936,112.465280,105.552440,105.66334,104.997955,90.551180,102.65285,102.49344
1,Afghanistan,AFG,1969,0.000000,102.742650,97.990710,109.973060,116.286060,112.366450,105.287780,105.13091,104.541830,89.552240,102.72480,102.53677
2,Afghanistan,AFG,1970,0.000000,102.822940,101.223076,109.889430,115.048350,112.357190,105.401030,104.86775,103.828310,88.732390,102.78504,102.58434
3,Afghanistan,AFG,1971,0.000000,102.897480,103.002106,109.319580,113.884026,112.236970,105.495620,104.59296,103.035980,87.333336,102.84169,102.63091
4,Afghanistan,AFG,1972,100.000000,102.968400,103.052050,108.538540,112.700360,111.966835,105.687410,104.45997,102.470030,86.163520,102.90349,102.69773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,Zimbabwe,ZWE,2019,23.333334,99.663820,93.417220,82.785385,75.930190,71.420480,75.216720,75.28502,67.108270,44.087257,101.60976,101.06155
18940,Zimbabwe,ZWE,2020,22.413794,99.801544,94.578940,82.798294,77.868340,67.444890,75.489136,74.32036,64.850490,44.033413,101.65868,101.17913
18941,Zimbabwe,ZWE,2021,21.698112,99.964800,95.559350,83.175150,79.547180,65.142380,75.877890,73.33779,62.993103,43.899290,101.70158,101.29033
18942,Zimbabwe,ZWE,2022,22.772278,100.239320,96.767170,83.273186,80.918564,64.334380,76.431150,72.26028,61.730362,44.275864,101.74549,101.40425
18943,Zimbabwe,ZWE,2023,22.857143,100.568630,97.926490,82.743050,82.179430,64.230370,77.016880,70.86874,60.843754,44.516130,101.77996,101.52135

In [9]:
df = pd.read_csv('sex-ratio-by-age.csv', skiprows=1,
    names=['Gebiet', 'Code', 'Jahr', 'Sex-ratio'])



df.head()

                                                                                                         Gebiet  \
Afghanistan AFG 1968 0.0   102.66250 97.910730  109.85199 117.310936 112.465280 105.55244 105.66334  104.997955
                1969 0.0   102.74265 97.990710  109.97306 116.286060 112.366450 105.28778 105.13091  104.541830
                1970 0.0   102.82294 101.223076 109.88943 115.048350 112.357190 105.40103 104.86775  103.828310
                1971 0.0   102.89748 103.002106 109.31958 113.884026 112.236970 105.49562 104.59296  103.035980
                1972 100.0 102.96840 103.052050 108.53854 112.700360 111.966835 105.68741 104.45997  102.470030

                                                                                                          Code  \
Afghanistan AFG 1968 0.0   102.66250 97.910730  109.85199 117.310936 112.465280 105.55244 105.66334  90.551180
                1969 0.0   102.74265 97.990710  109.97306 116.286060 112.366450 105.28778 105.13091  89.552240
                1970 0.0   102.82294 101.223076 109.88943 115.048350 112.357190 105.40103 104.86775  88.732390
                1971 0.0   102.89748 103.002106 109.31958 113.884026 112.236970 105.49562 104.59296  87.333336
                1972 100.0 102.96840 103.052050 108.53854 112.700360 111.966835 105.68741 104.45997  86.163520

                                                                                                          Jahr  \
Afghanistan AFG 1968 0.0   102.66250 97.910730  109.85199 117.310936 112.465280 105.55244 105.66334  102.65285
                1969 0.0   102.74265 97.990710  109.97306 116.286060 112.366450 105.28778 105.13091  102.72480
                1970 0.0   102.82294 101.223076 109.88943 115.048350 112.357190 105.40103 104.86775  102.78504
                1971 0.0   102.89748 103.002106 109.31958 113.884026 112.236970 105.49562 104.59296  102.84169
                1972 100.0 102.96840 103.052050 108.53854 112.700360 111.966835 105.68741 104.45997  102.90349

                                                                                                     Sex-ratio
Afghanistan AFG 1968 0.0   102.66250 97.910730  109.85199 117.310936 112.465280 105.55244 105.66334  102.49344
                1969 0.0   102.74265 97.990710  109.97306 116.286060 112.366450 105.28778 105.13091  102.53677
                1970 0.0   102.82294 101.223076 109.88943 115.048350 112.357190 105.40103 104.86775  102.58434
                1971 0.0   102.89748 103.002106 109.31958 113.884026 112.236970 105.49562 104.59296  102.63091
                1972 100.0 102.96840 103.052050 108.53854 112.700360 111.966835 105.68741 104.45997  102.69773

# 2 Daten Vorbereiten

In [ ]:
df_pivot = df.pivot(index='Gebiet', columns='Jahr'     , values='Sex-ratio')  
df_pivot.head()

ValueError: Index contains duplicate entries, cannot reshape

# 3 Statistik der Roh-Daten (Analyse im Long-Format)

## 3.1 Analyse der Länder

## 3.2 Analyse Codes

## 3.3 Analyse der Jahre

# 4. Analyse


## Vorgehen


### Beobachtungen

### Interprätation

## Berechnung

## Visualisierung