# Leistungsnachweis Sex Ratio   


Gruppe: Larissa Trüb, Kaj Suter, Harini Murugadas

Fragen:

- Wie verändert sich das Geschlechterverhältnis (Sex ratio) global mit zunehmendem alter?

- Welche demographische Faktoren erklären den starken Rückgang der Sex Ratio in höheren Altersgruppen?

- Wie hat sie die Sex Ratio bei den neugeborenenverändert?

- Vergleich einzelner Ländern und zuweisen von Ereignissen die zu Veränderungen führen?



Quellen

- https://ourworldindata.org/gender-ratio#the-sex-ratio-through-the-lifespan

## 1.Beschaffen und laden der Daten

In [3]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\ksute\miniconda3\lib\site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ksute\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\ksute\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [4]:
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv('sex-ratio-by-age.csv')
df

,Entity,Code,Year,Sex ratio - Sex: all - Age: 100+ - Variant: estimates,Sex ratio - Sex: all - Age: 15 - Variant: estimates,Sex ratio - Sex: all - Age: 20 - Variant: estimates,Sex ratio - Sex: all - Age: 30 - Variant: estimates,Sex ratio - Sex: all - Age: 40 - Variant: estimates,Sex ratio - Sex: all - Age: 50 - Variant: estimates,Sex ratio - Sex: all - Age: 60 - Variant: estimates,Sex ratio - Sex: all - Age: 70 - Variant: estimates,Sex ratio - Sex: all - Age: 80 - Variant: estimates,Sex ratio - Sex: all - Age: 90 - Variant: estimates,Sex ratio - Sex: all - Age: 0 - Variant: estimates,Sex ratio - Sex: all - Age: 5 - Variant: estimates
0,Afghanistan,AFG,1968,0.000000,102.662500,97.910730,109.851990,117.310936,112.465280,105.552440,105.66334,104.997955,90.551180,102.65285,102.49344
1,Afghanistan,AFG,1969,0.000000,102.742650,97.990710,109.973060,116.286060,112.366450,105.287780,105.13091,104.541830,89.552240,102.72480,102.53677
2,Afghanistan,AFG,1970,0.000000,102.822940,101.223076,109.889430,115.048350,112.357190,105.401030,104.86775,103.828310,88.732390,102.78504,102.58434
3,Afghanistan,AFG,1971,0.000000,102.897480,103.002106,109.319580,113.884026,112.236970,105.495620,104.59296,103.035980,87.333336,102.84169,102.63091
4,Afghanistan,AFG,1972,100.000000,102.968400,103.052050,108.538540,112.700360,111.966835,105.687410,104.45997,102.470030,86.163520,102.90349,102.69773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,Zimbabwe,ZWE,2019,23.333334,99.663820,93.417220,82.785385,75.930190,71.420480,75.216720,75.28502,67.108270,44.087257,101.60976,101.06155
18940,Zimbabwe,ZWE,2020,22.413794,99.801544,94.578940,82.798294,77.868340,67.444890,75.489136,74.32036,64.850490,44.033413,101.65868,101.17913
18941,Zimbabwe,ZWE,2021,21.698112,99.964800,95.559350,83.175150,79.547180,65.142380,75.877890,73.33779,62.993103,43.899290,101.70158,101.29033
18942,Zimbabwe,ZWE,2022,22.772278,100.239320,96.767170,83.273186,80.918564,64.334380,76.431150,72.26028,61.730362,44.275864,101.74549,101.40425
18943,Zimbabwe,ZWE,2023,22.857143,100.568630,97.926490,82.743050,82.179430,64.230370,77.016880,70.86874,60.843754,44.516130,101.77996,101.52135

In [14]:
df = pd.read_csv('sex-ratio-by-age.csv', skiprows=1,
    names=['Gebiet', 'Code', 'Jahr', 'Sex-ratio-100+', 'Sex-ratio-15','Sex-ratio-20','Sex-ratio-30','Sex-ratio-40','Sex-ratio-50','Sex-ratio-60','Sex-ratio-70','Sex-ratio-80','Sex-ratio-90','Sex-ratio-0','Sex-ratio-5', ])



df.head()

,Gebiet,Code,Jahr,Sex-ratio-100+,Sex-ratio-15,Sex-ratio-20,Sex-ratio-30,Sex-ratio-40,Sex-ratio-50,Sex-ratio-60,Sex-ratio-70,Sex-ratio-80,Sex-ratio-90,Sex-ratio-0,Sex-ratio-5
0,Afghanistan,AFG,1968,0.0,102.66250,97.910730,109.85199,117.310936,112.465280,105.55244,105.66334,104.997955,90.551180,102.65285,102.49344
1,Afghanistan,AFG,1969,0.0,102.74265,97.990710,109.97306,116.286060,112.366450,105.28778,105.13091,104.541830,89.552240,102.72480,102.53677
2,Afghanistan,AFG,1970,0.0,102.82294,101.223076,109.88943,115.048350,112.357190,105.40103,104.86775,103.828310,88.732390,102.78504,102.58434
3,Afghanistan,AFG,1971,0.0,102.89748,103.002106,109.31958,113.884026,112.236970,105.49562,104.59296,103.035980,87.333336,102.84169,102.63091
4,Afghanistan,AFG,1972,100.0,102.96840,103.052050,108.53854,112.700360,111.966835,105.68741,104.45997,102.470030,86.163520,102.90349,102.69773

In [ ]:
df = pd.read_csv('life-expectancy.csv', skiprows=1, names=['Gebiet','Code','Jahr','Lebenserwartung'])
df_ch = df[df['Gebiet']=='Switzerland']         # your code here
df_swe = df[df['Gebiet']=='Sweden']             # your code here

print('Number of rows in df_ch: ', df_ch.shape[0])
print('Number of rows in df_swe: ', df_swe.shape[0])

# 2 Daten Vorbereiten

In [17]:
df_pivot = df.pivot(index='Gebiet', columns='Jahr' , values='Sex-ratio-0',)  
df_pivot.head()   #zeigt die sexratio bei neugeborenen an

Jahr,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Gebiet,,,,,,,,,,,,,,,,,,,,,
Afghanistan,99.845600,101.63691,101.716720,101.792810,101.880745,101.957344,102.020935,102.087944,102.14868,102.19366,...,105.01245,104.969520,104.89165,104.79966,104.730380,104.65933,104.60698,104.571960,104.554530,104.529960
Africa (UN),102.487770,101.76393,101.798134,101.833600,101.867294,101.896180,101.925020,101.954285,101.98125,102.00501,...,102.83395,102.830680,102.86149,102.89031,102.897920,102.88951,102.87919,102.854770,102.893166,102.931046
Albania,107.240234,105.32105,105.858315,105.981370,105.268670,103.991165,104.258320,105.278694,105.32550,104.39282,...,109.39195,109.142136,108.85467,108.64445,108.450615,108.19627,107.92708,107.600280,107.285860,107.019070
Algeria,105.027440,103.28106,103.331560,103.394920,103.440200,103.464780,103.480220,103.481964,103.47551,103.46479,...,104.23405,104.144300,104.06785,104.06009,104.112600,104.18491,104.23399,104.259970,104.278244,104.291750
American Samoa,104.947914,106.10687,107.712080,108.947365,109.333336,108.994705,107.772020,107.853400,109.60000,110.61008,...,104.44444,103.541664,102.34541,100.86580,98.908295,96.28821,99.75961,105.945946,105.801100,105.698006

In [19]:
df_pivot = df.pivot_table(index='Jahr', columns='Gebiet' , values='Sex-ratio-0',)  
df_pivot.head()   #zeigt die sexratio bei neugeborenen an

Gebiet,Afghanistan,Africa (UN),Albania,Algeria,American Samoa,Americas (UN),Andorra,Angola,Anguilla,Antigua and Barbuda,...,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Western Sahara,World,Yemen,Zambia,Zimbabwe
Jahr,,,,,,,,,,,,,,,,,,,,,
1950,99.845600,102.487770,107.240234,105.02744,104.947914,103.466200,104.545456,101.03405,100.000000,101.606420,...,105.744680,100.00000,103.302900,105.151276,104.093570,101.606420,104.25755,102.400480,99.93533,101.501630
1951,101.636910,101.763930,105.321050,103.28106,106.106870,103.289950,104.545456,100.53360,98.360660,102.448456,...,105.416664,100.00000,103.287100,105.176080,104.000000,101.492540,104.05600,101.221954,99.71938,101.302666
1952,101.716720,101.798134,105.858315,103.33156,107.712080,103.142430,104.545456,100.54841,98.437500,102.414230,...,105.544360,100.00000,103.253220,105.209220,104.395610,101.612900,104.06030,101.314330,99.75934,101.328340
1953,101.792810,101.833600,105.981370,103.39492,108.947365,103.058815,104.651160,100.55333,98.473280,102.377975,...,105.539360,100.00000,103.200730,105.223920,104.145080,101.404495,104.08865,101.403250,99.78541,101.346725
1954,101.880745,101.867294,105.268670,103.44020,109.333336,103.066315,104.347824,100.56513,99.242424,102.460020,...,105.633804,133.33333,103.173325,105.213520,103.960396,101.736970,104.10876,101.509480,99.79996,101.364510

In [22]:
df = pd.read_csv('sex-ratio-by-age.csv', skiprows=1,
    names=['Gebiet', 'Code', 'Jahr', 'Sex-ratio-100+', 'Sex-ratio-15','Sex-ratio-20','Sex-ratio-30','Sex-ratio-40','Sex-ratio-50','Sex-ratio-60','Sex-ratio-70','Sex-ratio-80','Sex-ratio-90','Sex-ratio-0','Sex-ratio-5', ])
df_ch = df[df['Gebiet']=='Switzerland']        
df_swe = df[df['Gebiet']=='Sweden']   
df_chn = df[df['Gebiet'] == 'China']

print('Number of rows in df_ch: ', df_ch.shape[0])
print('Number of rows in df_swe: ', df_swe.shape[0])
print('Number of rows in df_chn: ', df_chn.shape[0])

Number of rows in df_ch:  74
Number of rows in df_swe:  74
Number of rows in df_chn:  74

# 3 Statistik der Roh-Daten (Analyse im Long-Format)

## 3.1 Analyse der Länder

## 3.2 Analyse Codes

## 3.3 Analyse der Jahre

# 4. Analyse


## Vorgehen


### Beobachtungen

### Interprätation

## Berechnung

## Visualisierung